<h2>Home Page</h2>
<a asp-area="RMS_Organization" asp-controller="RMS_Organization" asp-action="RegisterOrganization">Register Organization</a>
<a asp-area="Authentication" asp-controller="Login" asp-action="Login">Login</a>
